body{
    font-family: sans-serif;
    background-color: white;
    margin: 0;
}

header{
    background-color: #ffffff;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 5%;
}
.box{
    display: flex;
    flex-direction: row;
}

.top_banner{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #818181;
    padding: 0;
}

.logo{
    margin: 0;
    flex: 1;
    align-items: center;
}

.logo button{
    width: 80%;
    margin: 50%;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu{
    list-style-type: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu li{
    padding: 1rem;
    margin: 0 3%;
    position: relative;
}

.menu a{
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
}

.menu li:hover > a {
    color: #E9D09D;
}

.menu a:hover{
    background-color: #eee;
}

.submenu{
    display: none;
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    list-style-type: none;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    width: max-content;
}

.submenu li {
    margin: 0;
}

.submenu a {
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

.menu li:hover .submenu {
    display: block;
    box-sizing: border-box;
    z-index: 1;
}

.icons{
    display: flex;
    align-items: center;
}

.icons a{
    font-size: 100%;
    color: #46494F;
    padding: 0 1rem;
}

main{
    background-color: white;
}

#container1{
    width: 100%;
    height: 90vh;
    background-color: #cccccc;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

.image-item {

}

.product-container{
    display: flex;
    margin: 3%;
}

.container_top{
    display: flex;
    width: 33%;
    height: 70vh;
    margin: 5%;
    box-sizing: border-box;
    background-color: #cccccc;
}

#img_1{
    margin-right: 0;
}
#img_2{
    margin: 5%;
}
#img_3{
    margin-left: 0;
}

p{
    display: block;
    margin: 5%;
    font-size: 300%;
    text-align: center;
    align-items: center;
}

.container_bottom{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
}

.product{
    display: flex;
    flex-direction: column;
    height: 80%;
    margin: 2% 10%;
    box-sizing: border-box;
    background-color: #cccccc;
}

.id{
    display: flex;
    flex-direction: column;
    height: 10%;
    margin-left: 10%;
}



