@font-face {
  font-family: 'Pretendard-400';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 100;
  font-style: normal;
}

.noto-sans-kr {
  font-family: 'Noto Sans KR', sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 100;
  font-style: normal;
}

/* board.tsx */
#container {
  margin-top: 15%;
}

#p {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: #593a27;
  margin-left: 8.942px;
}

/*grid.tsx*/
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

#row1 {
  margin-top: 3%;
}
#row3 {
  margin-bottom: 10%;
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  width: 30vw;
  /* border: 10px solid black; */
  margin: auto;
}

/*pagination.tsx*/
.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin: 20px 0;
}

.page_item {
  margin: 0 5px;
}

.page_item a {
  color: #f2bea0;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.page_item a:hover {
  color: #593a27;
}

.page_item.active a {
  color: #593a27;
  cursor: default;
}

.page_item a:focus {
  box-shadow: 0 0 0 0.1rem;
  outline: none;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*productCard.tsx*/
.card {
  width: 100%;
  overflow: hidden;
}

.thumbnailContainer {
  width: 100%;
  height: 40vh;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentContainer {
  display: flex;
  padding-top: 2%;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  width: 100%;
}

.profileSection {
  display: grid;
  margin-right: 16px;
  text-align: center;
  grid-template-columns: 15% 70%; /* 두 개의 열을 같은 비율로 나란히 배치 */
  gap: 2%;
  width: 100%;
  height: 6vh;
}

.profileImage {
  padding-left: 2%;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  margin-bottom: 8px;
}

.test2 {
  text-align: left;
}

.profileName {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  margin: 0;
  word-wrap: break-word;
  width: 45%;
}

.productInfo {
  flex: 1 1 200px; /* Grow, shrink, and has a basis of 200px */
  min-width: 0; /* Allow flexbox to shrink this item below its content size */
  margin-left: 3%;
  margin-top: 2%;
}

.productTitle {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 2%;
  word-wrap: break-word;
}

/* Media query for smaller screens */
@media (max-width: 480px) {
  .contentContainer {
    flex-direction: column;
  }

  .profileSection {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .productInfo {
    flex-basis: auto;
  }
}
