@font-face {
    font-family: 'Pretendard-400';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    font-family: 'Pretendard-400';

    text-align: center;
    border: 1px solid darkgray;
    width: 70vw;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #D98D00; /* 텍스트 색상 (이미지의 색상과 비슷하게 설정) */
    margin-bottom: 20px;
}

.info_box {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

.info_item {
    font-size: 16px;
    margin-bottom: 10px;
}

.info_item:last-child {
    margin-bottom: 0;
}