@font-face {
    font-family: 'Pretendard-400';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #fff;
}

.scroll_container {

    min-height: 150vh;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    margin-top: 100px;
}

h1 {
    font-family: 'Pretendard-400';
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.p {
    font-family: 'Pretendard-400';
    text-align: center;
    line-height: 1.3;
    font-size: 18px;
    margin-top: 40px;
}

hr {
    margin: 40px;
    width: 500px;
    border-top: 1px solid darkgray;
}

.label {
    width: 500px;
    margin-bottom: 8px;
    text-align: left;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input {
    width: 470px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 5px;
}

.button {
    width: 500px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 60px;
    background-color: #939393;
    color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

.input {
    border: 1px solid #ccc;
}


button:hover {
    background-color: #7a4e2b;
}

.long_line {
    width: 100%;
    max-width: 1200px;
    margin: 60px auto;
    border: 0;
    border-top: 1px solid #ccc;
}

.new_line {
    display: block;
    margin-top: 10px;
}